.member-main-wrap {
   width: 1200px;
   margin: 0 auto;
   margin-top: 50px;
   display: flex;
   justify-content: space-between;

}
.member-main-mid-wrap {
    width: 950px;
    border: 1px solid black;
}

.sidebar-wrap {
    width: 200px;
    border: 1px solid black;
}

.sidebar-wrap {
    border: 1px solid #dcdcdc;
}

.profile-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 180px;
    background-color: #848b91;
}

.profile-wrap>img {
    border-radius: 50%;
    width: 35%;
    margin-bottom: 10px;
}

.profile-wrap p {
    color: white;
    font-size: 14px;
}

.profile-wrap-btm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 70px;
    background-color: #848b91;
    box-sizing: border-box;
    padding: 0px 10px;
}

.profile-wrap-btm>a{
    display:  flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.profile-wrap-btm>div{
    display: flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* 사이드메뉴에서 현재 메뉴 표시 */
.side-menu>a.active {
    color: #91C8E4;
}

/* 사이드메뉴(서브메뉴) 현제 메뉴 표시 */
.side-sub-menu>a.active {
    color: #91C8E4;
}

.side-menu-wrap {
    background-color: #fafafa;
}

.side-menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px 20px;
}

.side-menu > a {
    color: #202020;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 1px solid #dcdcdc;
    padding: 20px 0px;
}

.side-sub-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
}
.side-sub-menu > a {
    color: #828282;
    text-decoration: none;
}

.side-menu>a:nth-of-type(6){
    border-bottom: none;
}

.side-menu>a:last-of-type {
    border-top: 1px solid #dcdcdc;
    border-bottom: none;
}
